 <%- include('partials/header.ejs'); -%>

 <h1>HOME</h1>

 <p><%= startingContent %></p>

 <% posts.forEach(function(post){ %>
 <% console.log(post.title); %>
 <h1> <%= post.title %> </h1>
 <p>
   <%= post.content.substr(0,100) + " ..."%>
   <a href="/posts/<%= post.title %>">Read More</a>
 </p>
 <% }); %>



 <%- include('partials/footer.ejs'); -%>
